<div class="container" data-ng-controller="productAddCtrl">
    <div class="block-header">
        <h2>新增产品</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>基本信息
                <small></small>
            </h2>
        </div>

        <div class="card-body card-padding">
            <form role="form">
                <div class="form-group fg-line">
                    <label for="productName">产品名称</label>
                    <input type="email" class="form-control input-sm" id="productName" data-ng-model="product.name"
                           placeholder="输入产品名称">
                </div>
                <div class="form-group">
                    <label for="productDesc">产品描述</label>
                    <div class="fg-line">
                        <textarea class="form-control" rows="5" id="productDesc"
                                  placeholder="产品描述...." data-ng-model="product.desc"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>类别
                <small>
                </small>
            </h2>
        </div>

        <div class="card-body card-padding">
            <form role="form">
                <div class="btn-group m-b-10" ng-init="radioModel='carRent'">
                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'carRent'">汽车租赁</label>
                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'ticket'">门票</label>
                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'travel'">短行程</label>
                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'additonal'">附加服务</label>
                </div>
                <div class="tab-content" data-ng-class="{disabled: radioModel !== 'carRent'}">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group fg-line">
                                <label for="productName">车型</label>
                                <input type="email" class="form-control input-sm" id="productName" placeholder="输入车型">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="supplier_select">供应商</label>
                            <select chosen data-placeholder="Select a country..." class="w-100" id="supplier_select">
                                <option value="United States">United States</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Aland Islands">Aland Islands</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="American Samoa">American Samoa</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tab-content " data-ng-class="{disabled: radioModel !== 'ticket'}">ticket</div>
                <div class="tab-content " data-ng-class="{disabled: radioModel !== 'travel'}">travel</div>
                <div class="tab-content " data-ng-class="{disabled: radioModel !== 'additonal'}">additonal</div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>SKU
                <small></small>
            </h2>
        </div>
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt clearfix">
                <h2 class="lvh-label hidden-xs">新增SKU</h2>

                <div class="lvh-add" data-ng-class="{disabled: !mactrl.listviewSearchStat}">
                    <input type="text" placeholder="SKU名称" class="lvhs-input" data-ng-model="skuNameInput"
                           data-ng-init="skuNameInput=''">
                    <i class="lvh-search-close" style="right: 52px;"
                       data-ng-click="mactrl.listviewSearchStat = false;addSku()">&plus;</i>
                    <i class="lvh-search-close"
                       data-ng-click="mactrl.listviewSearchStat = false;skuNameInput=''">&times;</i>
                </div>

                <ul class="lv-actions actions">
                    <li>
                        <a href="" data-ng-click="mactrl.listviewSearchStat = true">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle aria-expanded="true">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Listview Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="lv-body" ng-repeat="sku in product.skus">
                <div class="lv-item media">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="media-body">
                        <div class="lv-title">{{sku.name}}
                        </div>
                        <div class="row" ng-class="{disabled: !editMode}">
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" ng-model="sku.newValue" placeholder="Input Small">
                                <a href="" data-ng-click="sku.add()">add</a>
                            </div>
                        </div>
                        <ul class="lv-attrs">
                            <li ng-repeat="value in sku.values">{{value}}</li>
                        </ul>

                        <div class="lv-actions actions dropdown" uib-dropdown>
                            <a href="" uib-dropdown-toggle aria-expanded="true">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="" data-ng-click="editMode = true;">Edit</a>
                                </li>
                                <li>
                                    <a href="">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
