<div>
    <div class="pmb-block">
        <div class="pmbb-header">
            <h2> Description</h2>

            <ul class="actions" data-ng-if="ctrl.editDescription === 0">
                <li class="dropdown" uib-dropdown>
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a data-ng-click="ctrl.editDescription = 1;" href="">Edit</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view" data-ng-if="ctrl.editDescription === 0">
                {{ product.desc }}
            </div>

            <form data-ng-submit="" class="pmbb-edit" data-ng-if="ctrl.editDescription === 1">
                <div class="fg-line">
                    <textarea data-ng-model="product.desc" class="form-control" rows="5"
                              placeholder="Description..."></textarea>
                </div>
                <div class="m-t-10">
                    <button class="btn btn-primary btn-sm" type="submit" ng-click="ctrl.editDescription = 0;">Save
                    </button>
                    <button class="btn btn-link btn-sm" data-ng-click="ctrl.editDescription = 0">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div class="pmb-block">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-person m-r-5"></i> Basic Information</h2>

            <ul class="actions" data-ng-if="ctrl.editBasicInfo === 0">
                <li class="dropdown" uib-dropdown>
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a data-ng-click="ctrl.editBasicInfo = 1" href="">Edit</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view" data-ng-if="ctrl.editBasicInfo === 0">
                <dl class="dl-horizontal">
                    <dt>产品名称</dt>
                    <dd>{{ product.name }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>产品类型</dt>
                    <dd>{{ product.type }}</dd>
                </dl>
                <dl class="dl-horizontal" data-ng-repeat="item in product.specifics">
                    <dt>{{item.itemName}}</dt>
                    <dd>{{ item.value }}</dd>
                </dl>
            </div>

            <form data-ng-submit="" class="pmbb-edit" data-ng-if="ctrl.editBasicInfo === 1">
                <dl class="dl-horizontal">
                    <dt class="p-t-10">产品名称</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="product.name" type="text" class="form-control"
                                   value="{{ product.name }}" placeholder="产品名称">
                        </div>

                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>产品类型</dt>
                    <dd>{{ product.type }}</dd>
                </dl>
                <dl class="dl-horizontal" data-ng-repeat="item in product.specifics">
                    <dt data-ng-class="{'p-t-10': item.editable}">{{item.itemName}}</dt>
                    <dd data-ng-if="item.editable">
                        <div class="fg-line">
                            <input data-ng-model="item.value" type="text" class="form-control" value="{{ item.value }}"
                                   placeholder="产品名称">
                        </div>
                    </dd>
                    <dd data-ng-if="!item.editable">{{ item.value }}</dd>
                </dl>
                <div class="m-t-30">
                    <button class="btn btn-primary btn-sm" type="submit" data-ng-click="ctrl.editBasicInfo = 0">Save
                    </button>
                    <button class="btn btn-link btn-sm" data-ng-click="ctrl.editBasicInfo = 0">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="pmb-block">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-person m-r-5"></i> SKU</h2>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal" data-ng-repeat="sku in product.skus">
                    <dt>{{sku.name}}</dt>
                    <dd>
                        <div style="border: 1px solid #dedede;background: #ffffff;color: #5e5e5e;display: inline-block;padding: 2px 10px 3px;font-size: 12px;margin-top: 5px;margin-right: 2px;"
                             data-ng-repeat="value in sku.values">{{ value }}
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="pmb-block">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-person m-r-5"></i> 定价方式</h2>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <dt>定价方式</dt>
                    <dd>{{product.priceType}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>


